<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="daniel.darkarmored.danielalejandro.appagro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="daniel.darkarmored.danielalejandro.appagro.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="daniel.darkarmored.danielalejandro.appagro.Navegador"
            android:label="@string/title_activity_navegador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="daniel.darkarmored.danielalejandro.appagro.EleccionSe" />
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="daniel.darkarmored.danielalejandro.appagro.SplashScreenSE" />
        <activity android:name="daniel.darkarmored.danielalejandro.appagro.Lista" />
        <activity android:name="daniel.darkarmored.danielalejandro.appagro.Franco" />
        <activity
            android:name="daniel.darkarmored.danielalejandro.appagro.Arcilloso"
            android:label="@string/title_activity_arcilloso"
            android:theme="@style/AppTheme" />
        <activity android:name="daniel.darkarmored.danielalejandro.appagro.Arenoso" />
        <activity android:name="daniel.darkarmored.danielalejandro.appagro.FrancoArenoso" />
        <activity android:name="daniel.darkarmored.danielalejandro.appagro.FrancoArcilloso" />
        <activity android:name="daniel.darkarmored.danielalejandro.appagro.FrancoLimoso" />
        <activity android:name="daniel.darkarmored.danielalejandro.appagro.FrancoArcillosoArenoso" />
        <activity android:name="daniel.darkarmored.danielalejandro.appagro.Ensenanza" />
        <activity android:name="daniel.darkarmored.danielalejandro.appagro.MenuAyuda">
            android:screenOrientation="">
        </activity>
    </application>

</manifest>